<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>Welcome to Rainbow Road Trip Planners!!!</h1>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere
        nostrum minima debitis, architecto distinctio, excepturi fugit placeat
        tenetur quae ratione dolore incidunt? Praesentium odit mollitia autem
        rerum ratione? Cumque!
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li
            data-target="#myCarousel"
            data-slide-to="0"
            [class.active]="activeSlide === 0"
          ></li>
          <li
            data-target="#myCarousel"
            data-slide-to="1"
            [class.active]="activeSlide === 1"
          ></li>
          <li
            data-target="#myCarousel"
            data-slide-to="2"
            [class.active]="activeSlide === 2"
          ></li>
          <li
            data-target="#myCarousel"
            data-slide-to="3"
            [class.active]="activeSlide === 3"
          ></li>
          <li
            data-target="#myCarousel"
            data-slide-to="4"
            [class.active]="activeSlide === 4"
          ></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item" [class.active]="activeSlide === 0">
            <img
              src="https://us.123rf.com/450wm/edgarbullon/edgarbullon2005/edgarbullon200500265/148254276-epic-adventurous-extreme-sport-composite-of-rock-climbing-man-rappelling-from-a-cliff-mountain.jpg?ver=6"
              alt="Image 1"
            />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 1">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPCWS4qr1QByDcUkr-9uIajXFPFsxCkqlsBCZh9Wr2Osywiu5z14_fQfNkiFsDvEx9Bec&usqp=CAU"
              alt="Image 2"
            />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 2">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZXWedvqc3ZZqnTIqlp-Kyi0BWTBOknEJ3Dwmn2-v3kHcwzyXOdHT_LdGr-vNG4dXtUKg&usqp=CAU"
              alt="Image 3"
            />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 3">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-CYcYaVQnP9DF8EQ7fIgEL-raKRaXNO7uqpRgSaOVQSqU6K6rovc9mLYDc2plipuboIA&usqp=CAU"
              alt="Image 4"
            />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 4">
            <img
              src="https://i.pinimg.com/564x/c4/6b/0b/c46b0bc919190f3e5db0f8b4929749cd.jpg"
              alt="Image 5"
            />

            <img src="image2.jpg" alt="Image 2" />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 2">
            <img src="image3.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 3">
            <img src="image4.jpg" alt="Image 4" />
          </div>
          <div class="carousel-item" [class.active]="activeSlide === 4">
            <img src="image5.jpg" alt="Image 5" />
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#myCarousel"
          role="button"
          data-slide="prev"
          (click)="prevSlide()"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#myCarousel"
          role="button"
          data-slide="next"
          (click)="nextSlide()"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<input type="submit" class="btn btn-primary" value="Show all Trips" (click)="viewRoadtrips = true" (click)="displayAllRoadtrips()">

<h2></h2>


<div id="viewRoadtrips" *ngIf="viewRoadtrips">
  <div *ngFor="let trip of trips">
    <h2 (click)="selectedTrip = trip">{{trip.title}}</h2>
    <input type="submit" value = "Show Trip Details" class = "btn btn-primary">


  </div>
</div>

<div id="displayDetails" *ngIf="selectedTrip">
  <ul>
    <li><strong>{{selectedTrip.title}}</strong></li>
    <img src="{{selectedTrip.imageUrl}}">
    <li>Description: {{selectedTrip.description}}</li>
    <li>Created: {{selectedTrip.createDate}}</li>
    <li>Miles: {{selectedTrip.miles}}mi</li>

  </ul>
  <input type="submit" value = "Hide Trip Details" class = "btn btn-primary" (click)="selectedTrip = null">

  </div>

  <div id="gallery">


  </div>


