<div>
  <h1>Find A Destination by type</h1>

  <button type="button" (click)="findByType('gas')" >Gas</button>
  <button type="button" (click)="findByType('food')">Food</button>
  <button type="button" (click)="findByType('hotel')" >Hotel</button>
  <button type="button" (click)="findByType('sight')">Sights</button>
<form >





</form>

<div>
  <table>

    <thead>
      <th>Destination</th>
    </thead>
    <tbody>
        <tr *ngFor="let dest of destinations">
      <td>{{dest.name}}</td>
    </tr>
    </tbody>
  </table>


</div>



</div>
