@import "~bootstrap/dist/css/bootstrap.css";

.buttongroup{
  margin-top: 0;
  transform: translateY(-300px);
  margin-bottom: 0;
}

.displaydestinations{
transform: translateY(-100px);

}

.headerphoto{
  transform: translateY(-300px);
}

.page{
  background-color: #FFF5E9
}

.businessimages{
 height: 200px;

}

.imagetext{
  color: #010101;
}

.bottomtext{
  color:#010101;
  transform: translateY(50px);
  transform: translateX(-250px);
  margin-left: auto;
  margin-right: auto;
}

