<h1>Profile Page</h1>

<div>

  <div>

      <div>

          <div>

              <div>
                  <img src="{{selected?.imageUrl}}" width="100" class="rounded-circle">
              </div>

              <div>
                  <span>{{selected?.role}}</span>
                  <h5>{{selected?.firstName}} {{selected?.lastName}}</h5>


                  <div>
                      <p>About me: {{selected?.aboutMe}} </p>

                  </div>

                   <ul>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                      <li><i></i></li>
                  </ul>

                  <div>

                      <button (click)="getUserInfo()">Get User Info</button>

                  </div>


              </div>




          </div>

      </div>

  </div>

</div>
