<div class="image">
<h1 class="center">Profile</h1>

<div>
  <div id="sect1"class="container" >

  <div>

      <div>

          <div>

              <div class="center">
                  <img src="{{selected?.imageUrl}}" width="100" class="rounded-circle">
              </div>

              <div class="center">

                  <p>{{selected?.firstName}} {{selected?.lastName}}</p>

                  </div>
                  <div class="about">
                    <p>About me</p>
                      <p>{{selected?.aboutMe}} </p>

                  </div>
                    <div class="about">
                      <h3>My Trips</h3>
                   <ul>
                      <li *ngFor="let trip of selected?.trips">{{trip.title}}</li>

                  </ul>

                  <div>


                      <button (click)="setEditUser()">Update Profile</button>

                  </div>


              </div>
              <div   class="about" id="todoEdit" *ngIf="editUser">
                <h1>Edit Profile</h1>
                <form>

                  <p>About me <input type="text" name="description"  [(ngModel)]="editUser.aboutMe"/><br /></p>
                  <p>Profile pic <input type="text" name="dueDate" [(ngModel)]="editUser.imageUrl"><br></p>


                  <button (click)="cancelEdit()">Cancel</button>
                  <button (click)="editProfile(editUser)">Save</button>

                </form>

                </div>



          </div>

      </div>

  </div>

</div>
</div>
<app-destination></app-destination>
<app-leg></app-leg>
