<div *ngIf="!selected">
  <h1>Trip Page</h1>
  <form class="create-trip-form">
    <input
      type="text"
      name="startDestination"
      #startDestination="ngModel"
      [ngModel]="newTrip.startDestination?.address?.city"
      placeholder="Start Destination"
    />

    <input
      type="text"
      name="endDestination"
      #endDestination="ngModel"
      [ngModel]="newTrip.endDestination?.address?.city"
      placeholder="End Destination"
    />

    <input
      type="date"
      name="startDate"
      #startDate="ngModel"
      [(ngModel)]="newTrip.startDate"
      placeholder="Start Date"
    />

    <input
      type="date"
      name="endDate"
      #endDate="ngModel"
      [(ngModel)]="newTrip.endDate"
      placeholder="End Date"
    />

    <select
      name="roundtrip"
      #roundtrip="ngModel"
      [(ngModel)]="newTrip.roundTrip"
    >
      <option value="null" disabled selected>Route Type</option>
      <option value="false">One-Way</option>
      <option value="true">Round Trip</option>
    </select>

    <!-- <select
      name="vehicle"
      #vehicleInput="ngModel"
      [(ngModel)]="vehicle"
    >
      <option value="" disabled selected>Vehicle</option>
      <option *ngFor="let veh of vehicles" value={{veh}} >{{ veh.make }} {{ veh.model }}</option>
    </select> -->

    <br />

    <input
      type="text"
      name="img"
      [(ngModel)]="newTrip.imageUrl"
      placeholder="Image URL"
    />

    <input
      type="submit"
      class="btn btn-primary"
      (click)="createTrip(newTrip)"
    />
  </form>

  <div>
    <google-map height="35em" width="100%" (mapClick)="handleMapClick($event)">
    </google-map>
  </div>
</div>

<table class="table table-striped table-hover">
  <tbody>
    <tr *ngFor="let trip of trips">
      <td (click)="getCurrentTrips()">{{ trip.title }}</td>
    </tr>
  </tbody>
</table>
<br />

<div id="tripDetail" *ngIf="selected">
  <h1>Trip Details</h1>
  <google-map height="35em" width="100%">
    <map-directions-renderer
      *ngIf="directions | async as directionResults"
      [directions]="directionResults"
    >
    </map-directions-renderer>
  </google-map>
  <table>
    <tbody>
      <tr>
        {{
          selected.startDestination?.address?.city
        }}
        -
        {{
          selected.endDestination?.address?.city
        }}
      </tr>
      <tr>
        {{
          selected.startDate
        }}
        -
        {{
          selected.endDate
        }}
      </tr>
    </tbody>
  </table>

  <!-- <button (click)="getCurrentTrips()">Return</button> -->

  <h4>Comments:</h4>
  <table>
    <tbody>
      <td *ngFor="let comment of selected.comments">
        <tr>
          {{
            comment.description
          }}
        </tr>
      </td>
    </tbody>
  </table>
  <h4>Description: {{ selected.description }}</h4>

  <div *ngIf="loggedIn">
    <h2>Add Comment</h2>
    <form>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea
          id="comment"
          class="form-control"
          [(ngModel)]="newComment.description"
          name="description"
          required
        ></textarea>
        <label for="user"></label>
      </div>
      <button
        (click)="createComment(newComment, selected.id)"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>

  <div *ngIf="selected && editComment">
    <h2>Edit Comment</h2>
    <form (ngSubmit)="updateComment(editComment, selected.id)">
      <div class="form-group">
        <label for="editComment">Comment</label>
        <textarea
          id="editComment"
          class="form-control"
          [(ngModel)]="editComment.description"
          name="description"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="editComment = null"
      >
        Cancel
      </button>
    </form>
  </div>

  <div *ngIf="comments.length > 0">
    <h2>Comments</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Comment</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comment of comments">
          <td>{{ comment.description }}</td>
          <td>
            <button
              class="btn btn-link"
              (click)="deleteComment(comment.id, selected.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div *ngIf="selected && !editComment">
      <h2>Comment Detail</h2>
      <div class="card">
        <div class="card-body">
          <p>{{ selected.description }}</p>
        </div>
      </div>
    </div> -->
  <button class="btn btn-secondary mt-2" (click)="displayTable()">Back</button>

  <!-- <input type="submit" (click)="createTrip(newTrip)" /> -->

  <!-- <input type="submit" (click)="createTrip(newTrip)" /> -->
</div>
<br />
<div *ngIf="!selected">
  <h3>Current Trips</h3>
  <table class="trip-table">
    <thead>
      <tr>
        <th class="start-destination">Start Destination</th>
        <th class="end-destination">End Destination</th>
        <th class="start-date">Start Date</th>
        <th class="end-date">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        (click)="getSingleTripById(trip.id)"
        *ngFor="let trip of currentTrips"
      >
        <td>{{ trip.startDestination?.address?.city }}</td>
        <td>{{ trip.endDestination?.address?.city }}</td>
        <td>{{ trip.startDate }}</td>
        <td>{{ trip.endDate }}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="past-trips-heading">Past Trips</h3>
  <table class="trip-table">
    <thead>
      <tr>
        <th class="start-destination">Start Destination</th>
        <th class="end-destination">End Destination</th>
        <th class="start-date">Start Date</th>
        <th class="end-date">End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="getSingleTripById(trip.id)" *ngFor="let trip of pastTrips">
        <td>{{ trip.startDestination.address?.city }}</td>
        <td>{{ trip.endDestination.address?.city }}</td>
        <td>{{ trip.startDate }}</td>
        <td>{{ trip.endDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
